/* A new a new css rule set selecting all elements will all elements of body ... Opening curly bracket*/
body {
  color: #090302;  /* hex number is being assigned to the 'color' property */
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

article {
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid;
  border-radius: 6px;
  margin-bottom: 16px;
}

.title {
  font-family: monospace;
  font-size: 24px;
}

#html {
  color: red;
}

#css {
  color: green;
}

#js {
  color: blue;
}
