.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  position: relative;
  top: 1.5rem;
  left: 0.3;
}

#charmander {
  position: relative;
  top: 2.43rem;
}

#squirtle {
  position: relative;
  right: 0.0001rem;
  top: 5.1rem;
}

#pikachu {
  position: relative;
  top: 10.2rem;
}

#jigglypuff {
  position: relative;
  top: 19rem;
}
