/* A new css rule set selecting all button elements with the class language ... Opening curly bracket */
button.language {
  font-size: 24px; /* 24px is being assigned to the 'margin' property */
  background-color: lightgray; /* lightgray is being assigned to the 'background-color' property */

  /* your code here 👇 */
  margin-left: 12px; /* 12px is being assigned to the 'margin-left' property */
  margin-right: 12px; /* 12px is being assigned to the 'margin-right' property */
  padding-left: 16px; /* 16px is being assigned to the 'padding-left' property */
  padding-right: 16px; /* 16px is being assigned to the 'padding-right' property */
  padding-top: 6px; /* 6px is being assigned to the 'padding-top' property */
  padding-bottom: 6px; /* 6px is being assigned to the 'padding-bottom' property */
  border-radius: 6px; /* 6px is being assigned to the 'border-radius' property */
} /* Closing curly bracket */
